body {
  font-size: 14px;
}

.h-100 {
  height: calc(100vh - 50px);
}

.gap {
  gap: 0.25rem;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 0.75rem;
}

.gap-3 {
  gap: 1rem;
}

[data-close] {
  background-color: var(--bulma-danger-50) !important;
}

[data-close]:hover {
  background-color: var(--bulma-danger-45) !important;
}

[data-toaster-kassiopeia-tool] p {
  padding: 0;
  margin: 0;
}

[data-screen-locker-kassiopeia-tool] {
  top: 1px !important;
}

[data-page-container] {
  height: calc(100vh - 50px);
  width: 100vw;
  overflow: auto;
}

[data-page-container]::-webkit-scrollbar {
  display: none;
}

/*
::-ms-reveal {
  display: none;
} */

body::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bulma-body-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
