body {
  font-size: 14px;
}

.h-100 {
  height: calc(100vh - 50px);
}

blockquote {
  border-left: 4px solid var(--bulma-border);
  padding: 0.5rem 0.5rem 0.5rem 1.5em;
  margin: 0.5rem 0 0.5rem 0;
  font-style: italic;
  background: var(--bulma-code-background);
  color: var(--bulma-text-bold);
}

[data-close] {
  background-color: var(--bulma-danger-50) !important;
}

[data-close]:hover {
  background-color: var(--bulma-danger-45) !important;
}

[data-toaster-kassiopeia-tool] p {
  padding: 0;
  margin: 0;
}

[data-screen-locker-kassiopeia-tool] {
  top: 1px !important;
}

[data-page-container] {
  height: calc(100vh - 50px);
  width: 100vw;
  overflow: auto;
}

[data-page-container]::-webkit-scrollbar {
  display: none;
}

[data-tiptap-editor] {
  border: 1px solid var(--bulma-border);
  border-top: none;
  border-radius: var(--bulma-radius);
}

[data-tiptap-editor] .bar {
  border-bottom: 1px solid var(--bulma-border-weak);
  border-top: 1px solid var(--bulma-border-weak);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  background: var(--bulma-body-background-color);
  padding: 0.25rem;
  border-radius: var(--bulma-radius) var(--bulma-radius) 0 0;
}

[data-tiptap-editor] [contenteditable] {
  padding: 0.5rem;
  min-height: 150px;
}

[data-tiptap-editor] [contenteditable] > p {
  padding-bottom: 0.5rem;
}

[data-tiptap-editor] ul {
  list-style: unset !important;
}

[data-tiptap-editor] ul,
[data-tiptap-editor] ol {
  padding: 0.5rem 0 0.5rem 2rem;
}

[data-tiptap-editor] a:not(.dropdown a) {
  text-decoration: underline !important;
}

[data-pc-name='colorpicker'] input {
  width: 2.5rem;
  height: 1rem;
  border: none;
  border-radius: 4px;
  display: none;
}

.tiptap[contenteditable]:focus-visible {
  outline: none;
}

nav aside a {
  display: flex !important;
  gap: 1rem;
  align-items: center;
}

nav aside a svg {
  font-size: 1rem;
}

.menu-list li {
  margin-top: 0.25rem;
}

/*
::-ms-reveal {
  display: none;
} */

body::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bulma-body-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
